$backgroundColor: beige;
$dark-blue: #293264;
$light-blue: #D6DBF5;
$blue: #4D5B9E;

@use 'home';
@use 'settings';
@use 'game';

// General instantiation of elements and body
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Karla -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $backgroundColor;
}

// Navbar
nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;

  .link {
    color: black;
    text-decoration: none;
    margin: 1rem;
  }
  .active {
    color: $blue;
  }
}

@media (min-width: 1000px) {
  nav {
    width: 60%;
  }
}

// Custom radio buttons
/* The container */
.container {
  position: relative;
  cursor: pointer;
  font-size: larger;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  padding: 0.2em 0em;
  color: $dark-blue;
}
.container:not(:last-child) {   // Space between the options
  margin-right: 0.5rem;
}
.mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 1rem;
  transition: background-color 0.1s linear;
}


/* Hide the browser's default radio button */
.container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container:hover input~.mark {
  background-color: #D6DBF5;
}

.container input:checked~.mark {
  border-color: #D6DBF5;
  background-color: #D6DBF5;
}

@media (max-width: 1000px) {
  .home, .protected-settings, .settings, .game {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}